@font-face {
	font-family: "UTMAvo";
	src: url("../fonts/utm-avo.eot"); /* IE9 Compat Modes */
	src: url("../fonts/utm-avo.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
	url("../fonts/utm-avo.otf") format("opentype"), /* Open Type Font */
	url("../fonts/utm-avo.svg") format("svg"), /* Legacy iOS */
	url("../fonts/utm-avo.ttf") format("truetype"), /* Safari, Android, iOS */
	url("../fonts/utm-avo.woff") format("woff"), /* Modern Browsers */
	url("../fonts/utm-avo.woff2") format("woff2"); /* Modern Browsers */
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: "UTMAvoBold";
	src: url("../fonts/utm-avobold.eot"); /* IE9 Compat Modes */
	src: url("../fonts/utm-avobold.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
	url("../fonts/utm-avobold.otf") format("opentype"), /* Open Type Font */
	url("../fonts/utm-avobold.svg") format("svg"), /* Legacy iOS */
	url("../fonts/utm-avobold.ttf") format("truetype"), /* Safari, Android, iOS */
	url("../fonts/utm-avobold.woff") format("woff"), /* Modern Browsers */
	url("../fonts/utm-avobold.woff2") format("woff2"); /* Modern Browsers */
	font-weight: normal;
	font-style: normal;
}